*{
    margin: 0;
    padding: 0px;
}
body{
    font-family: 'Anton', sans-serif;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Caprasimo', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Raleway', sans-serif;
}
nav{
    display: flex;
    gap: 500px;
    padding: 26px 40px 28px 70px;
    justify-content:space-between;
    align-items: center;  
}
ul{
    display: flex;
    gap: 90px;
}
li{
    list-style: none;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
li a{
    text-decoration: none;
}
.primary-color{
    color: #FA4A0C;
}
.bannar{
    color: #FFF;
    text-align: center;
    background-image: url("images/header\ coverpage.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
.bannar h3{
    padding: 73px 660px 17px;
}
.same-font{
    font-size: 24px;
    font-weight: 700px;
}
.main-header{
    font-size: 58px;
    font-weight: 700px;
    padding: 10px 34px;
}
.bannar h4{
    margin-top: 27px;
    font-size: 24px;
    padding: 10px 88px 48px 89px;
}
button{
    color: #FFF;
    width: 236px;
    padding: 16px 0px;
    border: none;
    border-radius: 30px;
}
.button-1{
    background-color: #FA4A0C;
    margin-right: 34px;
}
.button-2{
    background: transparent;
    border: 1px solid #FFF;
}
.group-img{
    display: inline-block;
    margin: -280px auto 50px;
}
.group-img-sec{
    background-image: url("images/group img 2..png");
    background-repeat: no-repeat;
    background-position: 865px -10px;
}
hr{
    margin:0px auto 30px;
    width: 884px;
    height: 3px;
    background: #E4E4E4;
}
h1{
    margin-top: 70px;
    text-align: center;
    font-size: 44px;
    font-weight: 600px;
}
section{
    height: 806px;
}
.display{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.description-title{
    font-size: 24px;
    font-weight: 700px;
    margin-bottom: 7px;
}
.description-header{
    color:  #252B42;
    padding: 10px 0px;
    font-size: 40px;
    font-weight: 700px;
}
.description-p{
    padding: 10px 0px;
    color:  #737373;
    font-size: 24px;
    font-weight: 500px;
}
.ft-div{
    text-align: center;
    background-image: url("images/footer\ coverpage.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
}
.ft-div p{
    margin: 20px 0px 60px;
    color: #FFF;
}
.ft-div h2{
    padding-top: 145px;
    color: #FFF;
}
.ft-div button{
    font-size: 16px;
    font-weight: 700px;
    text-align: center;
    border-radius: 10px;
}
.ft-button-1{
    width: 142px;
    height: 64px;
    background-color: #FA4A0C;
    color: #FFF;
    padding: 18px 31px;
    margin-right: 16px;    
}
.ft-button-2{
    width: 173px;
    height: 60px;
    padding: 16px 45px;
    border: 1px solid #FFF;
    background: transparent;
}
.social-link{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 42px 115px 53px;
}
.link-img{
    display: inline-block;
    margin-right: 24px;
}
.subtitle{
    color: #5C5C5C;
    font-size: 12px;
    font-weight: 700;;
}