*{
    margin: 0;
}
body{
    font-family: 'Anton', sans-serif;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Caprasimo', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Raleway', sans-serif;
}
nav{
    display: flex;
    gap: 500px;
    padding: 26px 40px 28px 70px;
    justify-content:space-between;
    align-items: center;  
}
ul{
    display: flex;
    gap: 90px;
}
li{
    list-style: none;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
li a{
    text-decoration: none;
}
.primary-color{
    color: #FA4A0C;
}
.header{
    background-color: #FFFFFF;
    height: 674px;
}
.bannar{
    color: #FFF;
    text-align: center;
    background-image: url("images/header\ coverpage.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-top: 0px;
}
h3{
    padding: 73px 660px 17px;
}
.same-font{
    font-size: 24px;
    font-weight: 700;
}
.main-header{
    font-size: 58px;
    font-weight: 700;
    padding: 10px 34px;
}
h4{
    margin-top: 27px;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 88px 48px 89px;
}
button{
    color: #FFF;
    width: 236px;
    padding: 16px 0px;
    border: none;
    border-radius: 30px;
}
.button-1{
    background-color: #FA4A0C;
    margin-right: 34px;
}
.button-2{
    background: transparent;
    border: 1px solid #FFF;
}